@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    padding: 0;
    margin: 0;
}



body{
    background-color: #d6cab6;
}


.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(239, 240, 222);
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: calc(100% / 16);
    height: calc(100% / 16);
    background-color: #d6cab6;
}

.item:hover {
    background-color: rgb(58, 58, 58);
}

.gridSize, .resetButton {
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    border-radius: 200px;
    border: 2px solid #615a4d;
    transition-duration: 0.4s;
}

.button {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.gridSize:hover , .resetButton:hover{
    background-color: #3a362e;
    color: #f3eadb;
}